@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('FuturaBookC.eot');
    src: url('FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('FuturaBookC.woff2') format('woff2'),
        url('FuturaBookC.woff') format('woff'),
        url('FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('FuturaDemiC.eot');
    src: url('FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('FuturaDemiC.woff2') format('woff2'),
        url('FuturaDemiC.woff') format('woff'),
        url('FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.eot');
    src: url('FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('FuturaMediumC.woff2') format('woff2'),
        url('FuturaMediumC.woff') format('woff'),
        url('FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('YesevaOne.eot');
    src: url('YesevaOne.eot?#iefix') format('embedded-opentype'),
        url('YesevaOne.woff2') format('woff2'),
        url('YesevaOne.woff') format('woff'),
        url('YesevaOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

